body{
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;  
}
.nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ulMenu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
 

}

.navMenu{
    width: 40%;
}
.search{
    margin-right: 2%;
}
.bylochki{
  margin-left: 13%;
    margin-top: 1%;
}
#point{
    margin: 0;
}
#aPoint{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 0 ;
}
header{
    background-image: url(../img/photo-1612539466296-4ecf1db303e3.avif) ;
    height: 900px;
    width: 1920*1080px;
    background-size: 100%;
}

.card {
    width: 450px;
    height: 480px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-left:35px ;

   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;

   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: rgba(48, 33, 5, 0.76);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(0, 0, 0);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: rgba(70, 43, 10, 0.671);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
#video{
    position: absolute;
    top: 0px;
    left: 1050px;
    border-radius: 25px 25px 30px 25px;
  
}
button {
    appearance: none;
    background-color: white;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    position: relative;
    z-index: 2;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgb(0, 0, 0) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }
   .lineButton{
    text-align: center;
    margin: 50px

   }
   .lineButton button{
    position: relative;
    top: -35px;
   }
   .lineButton hr{
    position: relative;
    border: 2px solid black;
    z-index: 1;
   }
 .Gallery{
    width: 60%;
    margin-left: auto ;
    margin-right: auto;
}
 .Gallery img{
    width: 20% ;
    height: 30% ; 
    margin-left: 10%;
    margin-bottom: 5%;
    border-radius: 25px;
 }
 .buttonMore{
    text-align: center;
    margin: 50px;
    
 }
 .buttonMore button{
    position: relative;
    top: -35px;
 }

 .buttonMore hr{
    position: relative;
    border: 2px solid black;
    z-index: 1;
 }
 .More{
    
    display: flex;
    justify-content: center;

 }
 .picture{
    margin: 5% 10% ;
    text-align: center;
 }
 .FonFooter{
    background-image: url(../img/фон.png) ;
    height: 250px;
    width: 1920;
    background-size: 100%;
    display: flex;

 }
.SHOP{
    color: #000000;
    margin: 2% 2% 2% 5%;
  
}
 .onest,.twost,.threest{
    color: #444444;
    margin-top: 15%;
    line-height: 200%;

 }

 .imgMain{
    margin-top: 20px;
    margin-left: 450px;
 }

 .imgMain img{
    display: block;
 }